*{
    margin: 0;
    padding: 0;
}
.CalculatorBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}
table{
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 10px 50px;
    border: 3px solid;
    border-collapse:collapse;
    
   
}
td{
    text-align: center;
    color: black;
    border: 5px solid;
}
input[type="button"]{
    width: 90px;
    height: 80px;
    color: white;
    background-color: black;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none !important;
    border: none !important;
}
input[type="button"]:hover{
    background-color:palegreen;
    outline: none;
    transition: width;
}
input[type="text"]{
    width: 350px;
    height: 80px;
    text-align: right;
    margin: 10px;
    padding: 2px;
    outline: none !important;
    border: none !important;
    font-size: 30px;
}